
.apple-music-feed-options {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4px;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .apple-music-feed-options {
    grid-template-columns: auto auto;
  }
}
