
.apple-music-feed-options {
  display: flex;
  justify-content: center;
}

.apple-music-feed-options > .select {
  margin-right: 4px;
}

.apple-music-feed-options > .select:last-of-type {
  margin-right: 0;
}
