
.music-controls-bar {
  position: relative;
  padding: 4px 0;
}

.music-controls {
  /* ray test touch < */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 560px;
  /* ray test touch > */
  margin: 0 auto;
  padding: 0 16px;
}

.play-list-add {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 30px;
  transform: translate(0, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.play-list-add:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
  .play-list-add {
    width: 48px;
    height: 48px;
    right: 12px;
  }

  .music-controls {
    padding: 0 48px;
  }
}
