
/* MEMO: inspired by https://freefrontend.com/css-select-boxes/ Pure CSS Select */
/* Custom Select */
.select {
  position: relative;
  display: inline-flex;
  min-width: 11em;
  height: 2.25em;
  line-height: 2;
  overflow: hidden;
  border-radius: .25em;
  outline: none;
}

/* Arrow */
.select::after {
  display: flex;
  align-items: center;
  content: '\25BC';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: .625rem;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */
.select:hover::after {
  color: #f39c12;
}

/* Reset Select */
select {
  flex: 1;
  padding: 0 .5em;
  color: #FFFFFF;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  background-color: #2c3e50;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
