
.apple-music-feed-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apple-music-feed-settings .setting-selects {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4px;
}

.apple-music-feed-settings .allow-explicit-setting {
  margin-left: 16px;
}

@media screen and (max-width: 640px) {
  .apple-music-feed-settings .setting-selects {
    grid-template-columns: auto auto;
  }

  .apple-music-feed-settings .allow-explicit-setting {
    display: none;
  }
}

@media screen and (min-width: 1288px) {
  .country-or-region-select {
    min-width: 240px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1288px) {
  .feed-type-select {
    max-width: 144px;
  }

  .genre-select {
    max-width: 116px;
  }

  .results-limit-select {
    max-width: 80px;
  }
}
