
.select {
  position: relative;
  display: inline-flex;
  min-width: 11em;
  height: 2.25em;
  line-height: 2;
  overflow: hidden;
  border-radius: .25em;
  outline: none;
}

/* Arrow */
.select::after {
  display: flex;
  align-items: center;
  content: '\25BC';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: .625rem;
  padding: 0 1em;
  background-color: #34495e;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
