
.top-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 24px;
  /* MEMO: should be matched with header height */
  height: 152px;
  justify-content: space-between;
  color: var(--palette-text-primary);
  background-color: var(--palette-grey-900);
  transition: box-shadow 200ms linear;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  /* MEMO: must be greater than ripple z-index */
  z-index: 11000;
}

.top-app-bar-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* MEMO: should be matched with header height */
  height: 72px;
}

.top-app-bar__options-section {
  flex-grow: 1;
  padding: 0 8px;
}

@media screen and (min-width: 640px) {
  .top-app-bar {
    height: auto;
  }
}

@media screen and (max-width: 640px) {
  .top-app-bar__options-section {
    position: absolute;
    padding: 0;
    bottom: 8px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
