
.album-list {
  background: #FFFFFF;
  height: 100%;
  color: black;
  padding: 10px;
  font-size: 20px;
}

.album-list table {
  width: 100%;
}

.album-list td:nth-child(1) {
  width: 10%;
  text-align: left;
  color: #ADADAD;
}

.album-list td:nth-child(2) {
  width: 60%;
  text-align: left;
}

.album-list td:nth-child(3) {
  width: 20%;
  text-align: right;
  color: #ADADAD;
}
