
.App {
  text-align: center;
}

main {
  width: 100%;
  /* MEMO: should be matched with footer height */
  padding-bottom: 48px;
  /* MEMO: should be matched with header height */
  margin-top: 48px;
}
