
.App {
  text-align: center;
}

main {
  /* MEMO: should be matched with footer height */
  /* padding-bottom: 48px; */
  /* MEMO: should be matched with header height */
  margin-top: 152px;
  /* MEMO: should be matched with header height */
  /* min-height: calc(100vh - 152px); */
}

@media screen and (min-width: 640px) {
  main {
    /* MEMO: should be matched with header height */
    margin-top: 72px;
    /* MEMO: should be matched with header height */
    /* min-height: calc(100vh - 72px); */
  }
}
