
.album-tile {
  float: left;
  width: calc(100% / 6);
  height: calc(100% / 3);
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;

  /**
   * Display the middle of the album art unless we
   * can guarantee background -> contain will look
   * better.
   */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.album-tile * {
  pointer-events: none;
}

.album-tile:nth-of-type(1) {
  width: calc(100% / 3);
  height: calc(100% / 3 * 2);
}

.album-tile:nth-of-type(6) {
  width: calc(100% / 3);
  height: calc(100% / 3 * 2);
}

.album-tile:nth-of-type(9) {
  position: absolute;
  top: calc(100% / 3 * 2);
  left: 0;
  width: calc(100% / 6);
  height: calc(100% / 3);
}

.album-tile:nth-of-type(10) {
  position: absolute;
  top: calc(100% / 3 * 2);
  left: calc(100% / 6);
  width: calc(100% / 6);
  height: calc(100% / 3);
}

.album-tile-footer {
  box-sizing: border-box;
  padding: 16px;
  font-size: 16px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.album-tile-footer .album, .album-tile-footer .artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-tile .artist {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

@media (min-width: 1288px) {
  /* There's enough vert/horz space for artwork to use contain */
  .album-tile {
    background-size: contain;
    background-position: initial;
  }

  /* For tiles that still don't work well on contain, revert to cover */
  .album-tile:nth-of-type(1), .album-tile:nth-of-type(7), .album-tile:nth-of-type(6) {
    background-size: cover;
    background-position: 50%;
  }
}
@media (max-width: 640px) {
  .album-tile,
  .album-tile:nth-of-type(n) {
    left: unset;
    top: unset;
    width: calc(100% / 2);
    height: calc(100% / 3);
    position: relative;
  }
}
